# Apache Spark SQL Dataframes

In [1]:
%matplotlib inline 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import warnings
import random
from datetime import datetime
random.seed(datetime.now())
warnings.filterwarnings('ignore')

# Make plots larger
plt.rcParams['figure.figsize'] = (10, 6)

In [2]:
import pyspark # Test that pyspark is running

In [3]:
sc

## Spark SQL, DataFrames and Datasets Guide

The [Spark SQL, DataFrames and Datasets Guide](https://spark.apache.org/docs/latest/sql-programming-guide.html) is at https://spark.apache.org/docs/latest/sql-programming-guide.html

from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL and Dataframes") \
    .config("spark.some.config.option", "spark-sql") \
    .getOrCreate()

In [4]:
df = spark.createDataFrame([(0,'a'),(1,'b'),(2,'c'),(3,'d'),(4,'5'),(0,'e'),(3,'b')])
df.show()

+---+---+
| _1| _2|
+---+---+
|  0|  a|
|  1|  b|
|  2|  c|
|  3|  d|
|  4|  5|
|  0|  e|
|  3|  b|
+---+---+

In [5]:
df = spark.createDataFrame([(0,'a'),(1,'b'),(2,'c'),(3,'d'),(4,'5'),(0,'e'),(3,'b')],['A','B'])
df.show()

+---+---+
|  A|  B|
+---+---+
|  0|  a|
|  1|  b|
|  2|  c|
|  3|  d|
|  4|  5|
|  0|  e|
|  3|  b|
+---+---+

In [6]:
# spark is an existing SparkSession
reviews = spark.read.json("data/review.3333.json")
# Displays the content of the DataFrame to stdout
reviews.show()

+--------------------+----+----------+-----+--------------------+-----+--------------------+------+--------------------+
|         business_id|cool|      date|funny|           review_id|stars|                text|useful|             user_id|
+--------------------+----+----------+-----+--------------------+-----+--------------------+------+--------------------+
|uYHaNptLzDLoV_JZ_...|   0|2016-07-12|    0|VfBHSwC5Vz_pbFluy...|    5|My girlfriend and...|     0|cjpdDjZyprfyDG3Rl...|
|uYHaNptLzDLoV_JZ_...|   0|2016-10-02|    0|3zRpneRKDsOPq92tq...|    3|If you need an in...|     0|bjTcT8Ty4cJZhEOEo...|
|uYHaNptLzDLoV_JZ_...|   0|2015-09-17|    0|ne5WhI1jUFOcRn-b-...|    3|Mittlerweile gibt...|     0|AXgRULmWcME7J6Ix3...|
|uYHaNptLzDLoV_JZ_...|   0|2016-08-21|    0|llmdwOgDReucVoWEr...|    4|Location is every...|     0|oU2SSOmsp_A8JYI7Z...|
|uYHaNptLzDLoV_JZ_...|   0|2013-11-20|    0|DuffS87NaSMDmIflu...|    5|gute lage im stad...|     0|0xtbPEna2Kei11vsU...|
|uYHaNptLzDLoV_JZ_...|   0|2016-06-05|    0|GvLmUkjUrOyFH8KFn...|    5|Erstklassige Lage...|     0|rW8q706dz5-NnXDzM...|
|uYHaNptLzDLoV_JZ_...|   0|2015-02-21|    0|lGEl24NGj2HVBJrod...|    4|Beautiful space, ...|     0|yx8vNXUL0D0HS8rUI...|
|uYHaNptLzDLoV_JZ_...|   0|2013-07-07|    0|cUgvEy5wj7zYE68v1...|    4|This is a fairly ...|     0|zXnH6W74FAJQ7q7b-...|
|uYHaNptLzDLoV_JZ_...|   2|2013-04-27|    0|FSB_BnvysBgH3JYrb...|    4|First time at thi...|     2|c5yp5hxwC1N98MjbV...|
|uYHaNptLzDLoV_JZ_...|   0|2015-04-13|    0|dhl3ZW9aAEX_T7_um...|    4|Location location...|     2|xJisL5w4wOgiYLokG...|
|uYHaNptLzDLoV_JZ_...|   1|2016-11-08|    1|JQJvnM3p-3eML05eK...|    4|A hotel that has ...|     1|tgV6tsYQ66DZ3LQKv...|
|uYHaNptLzDLoV_JZ_...|   0|2015-07-27|    0|6JF4WfHgwYrrdZ2Ve...|    3|Stayed here for t...|     1|Q-3YCVywc03w56wYt...|
|uYHaNptLzDLoV_JZ_...|   0|2014-05-07|    0|fbVYETRuWDw8Qnpim...|    4|Well, i like the ...|     1|Cx4UCow0zQgFQOp47...|
|uYHaNptLzDLoV_JZ_...|   0|2015-02-26|    0|lobj38NgaokqVseN8...|    4|I really do love ...|     1|eqWEgMH-DCP74i82B...|
|uYHaNptLzDLoV_JZ_...|   1|2015-08-21|    0|ysfjtAWreLoy7um8W...|    5|Motel One sets th...|     1|d0DGZRp6lHXGECJSc...|
|uYHaNptLzDLoV_JZ_...|   0|2013-12-07|    0|OF1ToqGAubsWGri5i...|    3|Had Continental s...|     1|IpLZ7RevQrFPJWYc9...|
|jQsNFOzDpxPmOurSW...|   0|2017-06-03|    0|ByRzJ8rF2KJWLr-cU...|    1|This place is hor...|     0|kzyLOqiJvyw_FWFTw...|
|jQsNFOzDpxPmOurSW...|   0|2015-03-26|    0|i5UwUPlQFPLcE8p2g...|    4|For being fairly ...|     1|WZXp9-V2dqRRJqhGg...|
|jQsNFOzDpxPmOurSW...|   1|2012-12-30|    1|EyQyvTTg2jX4or9bB...|    5|I decided to try ...|     2|XylT12exfdLiI_3uD...|
|jQsNFOzDpxPmOurSW...|   1|2009-01-12|    1|G-EFA005besj5uHsH...|    3|I'm not saying Pe...|     1|Ji9PeffxjwqPLO7pE...|
+--------------------+----+----------+-----+--------------------+-----+--------------------+------+--------------------+
only showing top 20 rows

In [7]:
reviews.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: long (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

## Craft Beers Dataset

Information on 2K+ craft canned beers from the US and 500+ breweries in the United States.

from [https://github.com/nickhould/craft-beers-dataset](https://github.com/nickhould/craft-beers-dataset)

In [8]:
# spark is an existing SparkSession
breweries = spark.read.json("data/breweries.csv")
# Displays the content of the DataFrame to stdout
breweries.show()

+--------------------+
|     _corrupt_record|
+--------------------+
|  id,name,city,state|
|0,NorthGate Brewi...|
|1,Against the Gra...|
|2,Jack's Abby Cra...|
|3,Mike Hess Brewi...|
|4,Fort Point Beer...|
|5,COAST Brewing C...|
|6,Great Divide Br...|
|7,Tapistry Brewin...|
|8,Big Lake Brewin...|
|9,The Mitten Brew...|
|10,Brewery Vivant...|
|11,Petoskey Brewi...|
|12,Blackrocks Bre...|
|13,Perrin Brewing...|
|14,Witch's Hat Br...|
|15,Founders Brewi...|
|16,Flat 12 Bierwe...|
|17,Tin Man Brewin...|
|18,Black Acre Bre...|
+--------------------+
only showing top 20 rows

In [9]:
breweries.printSchema()

root
 |-- _corrupt_record: string (nullable = true)

### _corrupt_record: string 

Sp

In [10]:
# spark is an existing SparkSession
breweries = spark.read.csv("data/breweries.csv")
# Displays the content of the DataFrame to stdout
breweries.show()

+---+--------------------+-------------+-----+
|_c0|                 _c1|          _c2|  _c3|
+---+--------------------+-------------+-----+
| id|                name|         city|state|
|  0|  NorthGate Brewing |  Minneapolis|   MN|
|  1|Against the Grain...|   Louisville|   KY|
|  2|Jack's Abby Craft...|   Framingham|   MA|
|  3|Mike Hess Brewing...|    San Diego|   CA|
|  4|Fort Point Beer C...|San Francisco|   CA|
|  5|COAST Brewing Com...|   Charleston|   SC|
|  6|Great Divide Brew...|       Denver|   CO|
|  7|    Tapistry Brewing|     Bridgman|   MI|
|  8|    Big Lake Brewing|      Holland|   MI|
|  9|The Mitten Brewin...| Grand Rapids|   MI|
| 10|      Brewery Vivant| Grand Rapids|   MI|
| 11|    Petoskey Brewing|     Petoskey|   MI|
| 12|  Blackrocks Brewery|    Marquette|   MI|
| 13|Perrin Brewing Co...|Comstock Park|   MI|
| 14|Witch's Hat Brewi...|   South Lyon|   MI|
| 15|Founders Brewing ...| Grand Rapids|   MI|
| 16|   Flat 12 Bierwerks| Indianapolis|   IN|
| 17|Tin Man Brewing C...|   Evansville|   IN|
| 18|Black Acre Brewin...| Indianapolis|   IN|
+---+--------------------+-------------+-----+
only showing top 20 rows

### header=False

In [11]:
# spark is an existing SparkSession
breweries = spark.read.csv("data/breweries.csv", header=True)
# Displays the content of the DataFrame to stdout
breweries.show()

+---+--------------------+-------------+-----+
| id|                name|         city|state|
+---+--------------------+-------------+-----+
|  0|  NorthGate Brewing |  Minneapolis|   MN|
|  1|Against the Grain...|   Louisville|   KY|
|  2|Jack's Abby Craft...|   Framingham|   MA|
|  3|Mike Hess Brewing...|    San Diego|   CA|
|  4|Fort Point Beer C...|San Francisco|   CA|
|  5|COAST Brewing Com...|   Charleston|   SC|
|  6|Great Divide Brew...|       Denver|   CO|
|  7|    Tapistry Brewing|     Bridgman|   MI|
|  8|    Big Lake Brewing|      Holland|   MI|
|  9|The Mitten Brewin...| Grand Rapids|   MI|
| 10|      Brewery Vivant| Grand Rapids|   MI|
| 11|    Petoskey Brewing|     Petoskey|   MI|
| 12|  Blackrocks Brewery|    Marquette|   MI|
| 13|Perrin Brewing Co...|Comstock Park|   MI|
| 14|Witch's Hat Brewi...|   South Lyon|   MI|
| 15|Founders Brewing ...| Grand Rapids|   MI|
| 16|   Flat 12 Bierwerks| Indianapolis|   IN|
| 17|Tin Man Brewing C...|   Evansville|   IN|
| 18|Black Acre Brewin...| Indianapolis|   IN|
| 19|   Brew Link Brewing|   Plainfield|   IN|
+---+--------------------+-------------+-----+
only showing top 20 rows

In [12]:
breweries.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)

### inferSchema=True

In [13]:
# spark is an existing SparkSession
breweries = spark.read.csv("data/breweries.csv", header=True, inferSchema=True)
# Displays the content of the DataFrame to stdout
breweries.show()

+---+--------------------+-------------+-----+
| id|                name|         city|state|
+---+--------------------+-------------+-----+
|  0|  NorthGate Brewing |  Minneapolis|   MN|
|  1|Against the Grain...|   Louisville|   KY|
|  2|Jack's Abby Craft...|   Framingham|   MA|
|  3|Mike Hess Brewing...|    San Diego|   CA|
|  4|Fort Point Beer C...|San Francisco|   CA|
|  5|COAST Brewing Com...|   Charleston|   SC|
|  6|Great Divide Brew...|       Denver|   CO|
|  7|    Tapistry Brewing|     Bridgman|   MI|
|  8|    Big Lake Brewing|      Holland|   MI|
|  9|The Mitten Brewin...| Grand Rapids|   MI|
| 10|      Brewery Vivant| Grand Rapids|   MI|
| 11|    Petoskey Brewing|     Petoskey|   MI|
| 12|  Blackrocks Brewery|    Marquette|   MI|
| 13|Perrin Brewing Co...|Comstock Park|   MI|
| 14|Witch's Hat Brewi...|   South Lyon|   MI|
| 15|Founders Brewing ...| Grand Rapids|   MI|
| 16|   Flat 12 Bierwerks| Indianapolis|   IN|
| 17|Tin Man Brewing C...|   Evansville|   IN|
| 18|Black Acre Brewin...| Indianapolis|   IN|
| 19|   Brew Link Brewing|   Plainfield|   IN|
+---+--------------------+-------------+-----+
only showing top 20 rows

In [14]:
breweries.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)

In [15]:
breweries.columns

['id', 'name', 'city', 'state']

In [16]:
breweries.describe()

DataFrame[summary: string, id: string, name: string, city: string, state: string]

In [17]:
breweries.describe().show()

+-------+------------------+--------------------+--------+-----+
|summary|                id|                name|    city|state|
+-------+------------------+--------------------+--------+-----+
|  count|               558|                 558|     558|  558|
|   mean|             278.5|                null|    null| null|
| stddev|161.22499806171498|                null|    null| null|
|    min|                 0|10 Barrel Brewing...|Abingdon|   AK|
|    max|               557|Wynkoop Brewing C...|    York|   WY|
+-------+------------------+--------------------+--------+-----+

In [18]:
breweries['name']

Column<b'name'>

In [19]:
type(breweries['name'])

pyspark.sql.column.Column

In [20]:
breweries.select('name').show()

+--------------------+
|                name|
+--------------------+
|  NorthGate Brewing |
|Against the Grain...|
|Jack's Abby Craft...|
|Mike Hess Brewing...|
|Fort Point Beer C...|
|COAST Brewing Com...|
|Great Divide Brew...|
|    Tapistry Brewing|
|    Big Lake Brewing|
|The Mitten Brewin...|
|      Brewery Vivant|
|    Petoskey Brewing|
|  Blackrocks Brewery|
|Perrin Brewing Co...|
|Witch's Hat Brewi...|
|Founders Brewing ...|
|   Flat 12 Bierwerks|
|Tin Man Brewing C...|
|Black Acre Brewin...|
|   Brew Link Brewing|
+--------------------+
only showing top 20 rows

In [21]:
breweries.select(['name','state']).show()

+--------------------+-----+
|                name|state|
+--------------------+-----+
|  NorthGate Brewing |   MN|
|Against the Grain...|   KY|
|Jack's Abby Craft...|   MA|
|Mike Hess Brewing...|   CA|
|Fort Point Beer C...|   CA|
|COAST Brewing Com...|   SC|
|Great Divide Brew...|   CO|
|    Tapistry Brewing|   MI|
|    Big Lake Brewing|   MI|
|The Mitten Brewin...|   MI|
|      Brewery Vivant|   MI|
|    Petoskey Brewing|   MI|
|  Blackrocks Brewery|   MI|
|Perrin Brewing Co...|   MI|
|Witch's Hat Brewi...|   MI|
|Founders Brewing ...|   MI|
|   Flat 12 Bierwerks|   IN|
|Tin Man Brewing C...|   IN|
|Black Acre Brewin...|   IN|
|   Brew Link Brewing|   IN|
+--------------------+-----+
only showing top 20 rows

In [22]:
type(breweries.select('name'))

pyspark.sql.dataframe.DataFrame

In [23]:
breweries.head(3)

[Row(id=0, name='NorthGate Brewing ', city='Minneapolis', state=' MN'),
 Row(id=1, name='Against the Grain Brewery', city='Louisville', state=' KY'),
 Row(id=2, name="Jack's Abby Craft Lagers", city='Framingham', state=' MA')]

In [24]:
breweries.withColumn('id2', breweries['id']*2).show()

+---+--------------------+-------------+-----+---+
| id|                name|         city|state|id2|
+---+--------------------+-------------+-----+---+
|  0|  NorthGate Brewing |  Minneapolis|   MN|  0|
|  1|Against the Grain...|   Louisville|   KY|  2|
|  2|Jack's Abby Craft...|   Framingham|   MA|  4|
|  3|Mike Hess Brewing...|    San Diego|   CA|  6|
|  4|Fort Point Beer C...|San Francisco|   CA|  8|
|  5|COAST Brewing Com...|   Charleston|   SC| 10|
|  6|Great Divide Brew...|       Denver|   CO| 12|
|  7|    Tapistry Brewing|     Bridgman|   MI| 14|
|  8|    Big Lake Brewing|      Holland|   MI| 16|
|  9|The Mitten Brewin...| Grand Rapids|   MI| 18|
| 10|      Brewery Vivant| Grand Rapids|   MI| 20|
| 11|    Petoskey Brewing|     Petoskey|   MI| 22|
| 12|  Blackrocks Brewery|    Marquette|   MI| 24|
| 13|Perrin Brewing Co...|Comstock Park|   MI| 26|
| 14|Witch's Hat Brewi...|   South Lyon|   MI| 28|
| 15|Founders Brewing ...| Grand Rapids|   MI| 30|
| 16|   Flat 12 Bierwerks| Indianapolis|   IN| 32|
| 17|Tin Man Brewing C...|   Evansville|   IN| 34|
| 18|Black Acre Brewin...| Indianapolis|   IN| 36|
| 19|   Brew Link Brewing|   Plainfield|   IN| 38|
+---+--------------------+-------------+-----+---+
only showing top 20 rows

In [25]:
breweries.createOrReplaceTempView('brew')

In [26]:
sql_brew=spark.sql("SELECT * FROM brew")

In [27]:
sql_brew

DataFrame[id: int, name: string, city: string, state: string]

In [28]:
sql_brew.show()

+---+--------------------+-------------+-----+
| id|                name|         city|state|
+---+--------------------+-------------+-----+
|  0|  NorthGate Brewing |  Minneapolis|   MN|
|  1|Against the Grain...|   Louisville|   KY|
|  2|Jack's Abby Craft...|   Framingham|   MA|
|  3|Mike Hess Brewing...|    San Diego|   CA|
|  4|Fort Point Beer C...|San Francisco|   CA|
|  5|COAST Brewing Com...|   Charleston|   SC|
|  6|Great Divide Brew...|       Denver|   CO|
|  7|    Tapistry Brewing|     Bridgman|   MI|
|  8|    Big Lake Brewing|      Holland|   MI|
|  9|The Mitten Brewin...| Grand Rapids|   MI|
| 10|      Brewery Vivant| Grand Rapids|   MI|
| 11|    Petoskey Brewing|     Petoskey|   MI|
| 12|  Blackrocks Brewery|    Marquette|   MI|
| 13|Perrin Brewing Co...|Comstock Park|   MI|
| 14|Witch's Hat Brewi...|   South Lyon|   MI|
| 15|Founders Brewing ...| Grand Rapids|   MI|
| 16|   Flat 12 Bierwerks| Indianapolis|   IN|
| 17|Tin Man Brewing C...|   Evansville|   IN|
| 18|Black Acre Brewin...| Indianapolis|   IN|
| 19|   Brew Link Brewing|   Plainfield|   IN|
+---+--------------------+-------------+-----+
only showing top 20 rows

## Amazon stock data

Download Amazon stock data from 
https://www.google.com/finance/historical?output=csv&q=AMZN

In [29]:
# spark is an existing SparkSession
amzn = spark.read.csv("data/amzn.csv", header=True, inferSchema=True)
# Displays the content of the DataFrame to stdout
amzn.show()

+---------+-------+-------+-------+-------+--------+
|     Date|   Open|   High|    Low|  Close|  Volume|
+---------+-------+-------+-------+-------+--------+
|30-Oct-17|1095.01|1122.79|1093.56|1110.85| 6613064|
|27-Oct-17|1058.14|1105.58|1050.55|1100.95|16565021|
|26-Oct-17| 980.33|  982.9| 968.55| 972.43| 5618675|
|25-Oct-17|  978.0| 984.44| 966.24| 972.91| 3033113|
|24-Oct-17|  969.0| 979.85|  965.0|  975.9| 2723935|
|23-Oct-17| 986.73| 986.78|  962.5|  966.3| 3494100|
|20-Oct-17| 993.53| 994.62|  982.0| 982.91| 2365122|
|19-Oct-17|  990.0| 991.05| 980.24| 986.61| 3108197|
|18-Oct-17|1009.27|1022.31| 996.55|  997.0| 2499681|
|17-Oct-17|1005.59|1011.47|1004.38|1009.13| 2319742|
|16-Oct-17|1008.44|1009.57|1001.04|1006.34| 2008908|
|13-Oct-17| 1007.0|1007.77|1001.03|1002.94| 2431462|
|12-Oct-17| 996.81|1008.44|  992.4|1000.93| 4067317|
|11-Oct-17| 991.27|  995.5|  986.7|  995.0| 2337113|
|10-Oct-17| 996.67| 997.95|  980.1|  987.2| 3084921|
| 9-Oct-17| 993.24|  998.5|  987.5| 990.99| 2938586|
| 6-Oct-17| 975.64| 995.75| 975.64| 989.58| 3782067|
| 5-Oct-17|  970.0| 981.51| 969.64| 980.85| 3229224|
| 4-Oct-17| 954.21| 967.79| 954.05| 965.45| 2527352|
| 3-Oct-17|  958.0| 963.69| 950.37|  957.1| 2666574|
+---------+-------+-------+-------+-------+--------+
only showing top 20 rows

In [30]:
amzn.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)

In [31]:
amzn.describe().show()

+-------+--------+-----------------+-----------------+-----------------+-----------------+------------------+
|summary|    Date|             Open|             High|              Low|            Close|            Volume|
+-------+--------+-----------------+-----------------+-----------------+-----------------+------------------+
|  count|     251|              251|              251|              251|              251|               251|
|   mean|    null|903.5337051792826|909.3869322709156|895.9290039840638|902.9948605577688| 3698133.752988048|
| stddev|    null|91.30254956909363|91.93640267354058|90.61454580035145|91.25053719228444|1819253.7805759213|
|    min|1-Aug-17|            730.0|           743.26|            710.1|           719.07|           1837068|
|    max|9-Oct-17|          1095.01|          1122.79|          1093.56|          1110.85|          16565021|
+-------+--------+-----------------+-----------------+-----------------+-----------------+------------------+

In [32]:
amzn.filter('Close < 800').show()

+---------+------+------+------+------+-------+
|     Date|  Open|  High|   Low| Close| Volume|
+---------+------+------+------+------+-------+
|11-Jan-17|793.66| 799.5|789.51|799.02|2992791|
|10-Jan-17| 796.6| 798.0|789.54| 795.9|2558369|
| 9-Jan-17| 798.0|801.77|791.77|796.92|3446109|
| 6-Jan-17|782.36|799.44|778.48|795.99|5986234|
| 5-Jan-17|761.55| 782.4|760.26|780.45|5830068|
| 4-Jan-17|758.39|759.68| 754.2|757.18|2510526|
| 3-Jan-17|757.92|758.76| 747.7|753.67|3521066|
|30-Dec-16|766.47| 767.4|748.28|749.87|4139449|
|29-Dec-16| 772.4| 773.4|760.85|765.15|3158299|
|28-Dec-16|776.25| 780.0| 770.5|772.13|3301025|
|27-Dec-16| 763.4|774.65| 761.2| 771.4|2638725|
|23-Dec-16|764.55| 766.5|757.99|760.59|1981616|
|22-Dec-16|768.12|771.21|763.02|766.34|2543551|
|21-Dec-16| 770.0|771.22| 765.7| 770.6|2044629|
|20-Dec-16|768.65|774.39|767.71|771.22|2703629|
|19-Dec-16|758.89| 770.5|756.16| 766.0|3113240|
|16-Dec-16| 765.0|765.13| 754.0|757.77|4848219|
|15-Dec-16|766.28| 769.1|760.31| 761.0|3801927|
|14-Dec-16|778.25|780.86|762.81|768.82|5454836|
|13-Dec-16|764.96|782.46| 762.0|774.34|5285288|
+---------+------+------+------+------+-------+
only showing top 20 rows

In [33]:
amzn.filter('Close < 800 and Open > 750').show()

+---------+------+------+------+------+-------+
|     Date|  Open|  High|   Low| Close| Volume|
+---------+------+------+------+------+-------+
|11-Jan-17|793.66| 799.5|789.51|799.02|2992791|
|10-Jan-17| 796.6| 798.0|789.54| 795.9|2558369|
| 9-Jan-17| 798.0|801.77|791.77|796.92|3446109|
| 6-Jan-17|782.36|799.44|778.48|795.99|5986234|
| 5-Jan-17|761.55| 782.4|760.26|780.45|5830068|
| 4-Jan-17|758.39|759.68| 754.2|757.18|2510526|
| 3-Jan-17|757.92|758.76| 747.7|753.67|3521066|
|30-Dec-16|766.47| 767.4|748.28|749.87|4139449|
|29-Dec-16| 772.4| 773.4|760.85|765.15|3158299|
|28-Dec-16|776.25| 780.0| 770.5|772.13|3301025|
|27-Dec-16| 763.4|774.65| 761.2| 771.4|2638725|
|23-Dec-16|764.55| 766.5|757.99|760.59|1981616|
|22-Dec-16|768.12|771.21|763.02|766.34|2543551|
|21-Dec-16| 770.0|771.22| 765.7| 770.6|2044629|
|20-Dec-16|768.65|774.39|767.71|771.22|2703629|
|19-Dec-16|758.89| 770.5|756.16| 766.0|3113240|
|16-Dec-16| 765.0|765.13| 754.0|757.77|4848219|
|15-Dec-16|766.28| 769.1|760.31| 761.0|3801927|
|14-Dec-16|778.25|780.86|762.81|768.82|5454836|
|13-Dec-16|764.96|782.46| 762.0|774.34|5285288|
+---------+------+------+------+------+-------+
only showing top 20 rows

In [34]:
amzn.filter(amzn['Close'] < 800).show()

+---------+------+------+------+------+-------+
|     Date|  Open|  High|   Low| Close| Volume|
+---------+------+------+------+------+-------+
|11-Jan-17|793.66| 799.5|789.51|799.02|2992791|
|10-Jan-17| 796.6| 798.0|789.54| 795.9|2558369|
| 9-Jan-17| 798.0|801.77|791.77|796.92|3446109|
| 6-Jan-17|782.36|799.44|778.48|795.99|5986234|
| 5-Jan-17|761.55| 782.4|760.26|780.45|5830068|
| 4-Jan-17|758.39|759.68| 754.2|757.18|2510526|
| 3-Jan-17|757.92|758.76| 747.7|753.67|3521066|
|30-Dec-16|766.47| 767.4|748.28|749.87|4139449|
|29-Dec-16| 772.4| 773.4|760.85|765.15|3158299|
|28-Dec-16|776.25| 780.0| 770.5|772.13|3301025|
|27-Dec-16| 763.4|774.65| 761.2| 771.4|2638725|
|23-Dec-16|764.55| 766.5|757.99|760.59|1981616|
|22-Dec-16|768.12|771.21|763.02|766.34|2543551|
|21-Dec-16| 770.0|771.22| 765.7| 770.6|2044629|
|20-Dec-16|768.65|774.39|767.71|771.22|2703629|
|19-Dec-16|758.89| 770.5|756.16| 766.0|3113240|
|16-Dec-16| 765.0|765.13| 754.0|757.77|4848219|
|15-Dec-16|766.28| 769.1|760.31| 761.0|3801927|
|14-Dec-16|778.25|780.86|762.81|768.82|5454836|
|13-Dec-16|764.96|782.46| 762.0|774.34|5285288|
+---------+------+------+------+------+-------+
only showing top 20 rows

In [35]:
amzn.filter((amzn['Close'] < 800) & (amzn['Open'] > 750)).show()

+---------+------+------+------+------+-------+
|     Date|  Open|  High|   Low| Close| Volume|
+---------+------+------+------+------+-------+
|11-Jan-17|793.66| 799.5|789.51|799.02|2992791|
|10-Jan-17| 796.6| 798.0|789.54| 795.9|2558369|
| 9-Jan-17| 798.0|801.77|791.77|796.92|3446109|
| 6-Jan-17|782.36|799.44|778.48|795.99|5986234|
| 5-Jan-17|761.55| 782.4|760.26|780.45|5830068|
| 4-Jan-17|758.39|759.68| 754.2|757.18|2510526|
| 3-Jan-17|757.92|758.76| 747.7|753.67|3521066|
|30-Dec-16|766.47| 767.4|748.28|749.87|4139449|
|29-Dec-16| 772.4| 773.4|760.85|765.15|3158299|
|28-Dec-16|776.25| 780.0| 770.5|772.13|3301025|
|27-Dec-16| 763.4|774.65| 761.2| 771.4|2638725|
|23-Dec-16|764.55| 766.5|757.99|760.59|1981616|
|22-Dec-16|768.12|771.21|763.02|766.34|2543551|
|21-Dec-16| 770.0|771.22| 765.7| 770.6|2044629|
|20-Dec-16|768.65|774.39|767.71|771.22|2703629|
|19-Dec-16|758.89| 770.5|756.16| 766.0|3113240|
|16-Dec-16| 765.0|765.13| 754.0|757.77|4848219|
|15-Dec-16|766.28| 769.1|760.31| 761.0|3801927|
|14-Dec-16|778.25|780.86|762.81|768.82|5454836|
|13-Dec-16|764.96|782.46| 762.0|774.34|5285288|
+---------+------+------+------+------+-------+
only showing top 20 rows

In [36]:
amzn.filter('Open < Close').select(['Open','Close']).show()

+-------+-------+
|   Open|  Close|
+-------+-------+
|1095.01|1110.85|
|1058.14|1100.95|
|  969.0|  975.9|
|1005.59|1009.13|
| 996.81|1000.93|
| 991.27|  995.0|
| 975.64| 989.58|
|  970.0| 980.85|
| 954.21| 965.45|
| 960.11| 961.35|
| 951.86|  956.4|
|  948.0| 950.87|
| 971.79| 973.21|
| 983.97|  999.6|
| 974.46| 977.96|
|  974.0| 979.47|
|  974.7|  980.6|
| 958.44| 967.59|
|  940.0| 954.06|
| 955.52|  966.9|
+-------+-------+
only showing top 20 rows

In [37]:
amzn.filter('Close < 770').show()

+---------+------+------+------+------+-------+
|     Date|  Open|  High|   Low| Close| Volume|
+---------+------+------+------+------+-------+
| 4-Jan-17|758.39|759.68| 754.2|757.18|2510526|
| 3-Jan-17|757.92|758.76| 747.7|753.67|3521066|
|30-Dec-16|766.47| 767.4|748.28|749.87|4139449|
|29-Dec-16| 772.4| 773.4|760.85|765.15|3158299|
|23-Dec-16|764.55| 766.5|757.99|760.59|1981616|
|22-Dec-16|768.12|771.21|763.02|766.34|2543551|
|19-Dec-16|758.89| 770.5|756.16| 766.0|3113240|
|16-Dec-16| 765.0|765.13| 754.0|757.77|4848219|
|15-Dec-16|766.28| 769.1|760.31| 761.0|3801927|
|14-Dec-16|778.25|780.86|762.81|768.82|5454836|
|12-Dec-16| 766.4|766.89| 757.2|760.12|2963945|
| 9-Dec-16| 770.0|770.25|765.34|768.66|2470923|
| 8-Dec-16|771.87|773.79|765.19|767.33|3189608|
| 6-Dec-16|763.99|768.24|757.25|764.72|3794746|
| 5-Dec-16| 745.0|761.49| 742.0|759.36|4314723|
| 2-Dec-16| 743.4|748.49| 736.7|740.34|3561307|
| 1-Dec-16|752.41|753.37|738.03|743.65|4665993|
|30-Nov-16| 762.0|768.09|750.25|750.57|4625946|
|29-Nov-16| 768.0|769.89|761.32|762.52|3272344|
|28-Nov-16|776.99| 777.0|764.24|766.77|4438828|
+---------+------+------+------+------+-------+
only showing top 20 rows

In [38]:
lt770=amzn.filter('Close < 770').collect()

In [39]:
type(lt770)

list

In [40]:
lt770

[Row(Date='4-Jan-17', Open=758.39, High=759.68, Low=754.2, Close=757.18, Volume=2510526),
 Row(Date='3-Jan-17', Open=757.92, High=758.76, Low=747.7, Close=753.67, Volume=3521066),
 Row(Date='30-Dec-16', Open=766.47, High=767.4, Low=748.28, Close=749.87, Volume=4139449),
 Row(Date='29-Dec-16', Open=772.4, High=773.4, Low=760.85, Close=765.15, Volume=3158299),
 Row(Date='23-Dec-16', Open=764.55, High=766.5, Low=757.99, Close=760.59, Volume=1981616),
 Row(Date='22-Dec-16', Open=768.12, High=771.21, Low=763.02, Close=766.34, Volume=2543551),
 Row(Date='19-Dec-16', Open=758.89, High=770.5, Low=756.16, Close=766.0, Volume=3113240),
 Row(Date='16-Dec-16', Open=765.0, High=765.13, Low=754.0, Close=757.77, Volume=4848219),
 Row(Date='15-Dec-16', Open=766.28, High=769.1, Low=760.31, Close=761.0, Volume=3801927),
 Row(Date='14-Dec-16', Open=778.25, High=780.86, Low=762.81, Close=768.82, Volume=5454836),
 Row(Date='12-Dec-16', Open=766.4, High=766.89, Low=757.2, Close=760.12, Volume=2963945),
 Row(Date='9-Dec-16', Open=770.0, High=770.25, Low=765.34, Close=768.66, Volume=2470923),
 Row(Date='8-Dec-16', Open=771.87, High=773.79, Low=765.19, Close=767.33, Volume=3189608),
 Row(Date='6-Dec-16', Open=763.99, High=768.24, Low=757.25, Close=764.72, Volume=3794746),
 Row(Date='5-Dec-16', Open=745.0, High=761.49, Low=742.0, Close=759.36, Volume=4314723),
 Row(Date='2-Dec-16', Open=743.4, High=748.49, Low=736.7, Close=740.34, Volume=3561307),
 Row(Date='1-Dec-16', Open=752.41, High=753.37, Low=738.03, Close=743.65, Volume=4665993),
 Row(Date='30-Nov-16', Open=762.0, High=768.09, Low=750.25, Close=750.57, Volume=4625946),
 Row(Date='29-Nov-16', Open=768.0, High=769.89, Low=761.32, Close=762.52, Volume=3272344),
 Row(Date='28-Nov-16', Open=776.99, High=777.0, Low=764.24, Close=766.77, Volume=4438828),
 Row(Date='18-Nov-16', Open=761.0, High=767.74, Low=757.64, Close=760.16, Volume=4373408),
 Row(Date='17-Nov-16', Open=749.32, High=757.5, Low=748.0, Close=756.4, Volume=3651345),
 Row(Date='16-Nov-16', Open=739.88, High=749.87, Low=735.61, Close=746.49, Volume=3648791),
 Row(Date='15-Nov-16', Open=730.0, High=746.78, Low=725.99, Close=743.24, Volume=6755785),
 Row(Date='14-Nov-16', Open=745.51, High=746.0, Low=710.1, Close=719.07, Volume=7321344),
 Row(Date='11-Nov-16', Open=735.73, High=743.26, Low=728.9, Close=739.01, Volume=6622784),
 Row(Date='10-Nov-16', Open=778.81, High=778.83, Low=717.7, Close=742.38, Volume=12746994),
 Row(Date='4-Nov-16', Open=762.79, High=766.0, Low=753.23, Close=755.05, Volume=5122103),
 Row(Date='3-Nov-16', Open=765.05, High=777.0, Low=764.0, Close=767.03, Volume=3872496),
 Row(Date='2-Nov-16', Open=783.93, High=784.75, Low=763.55, Close=765.56, Volume=5026504)]

In [41]:
lt770[0]

Row(Date='4-Jan-17', Open=758.39, High=759.68, Low=754.2, Close=757.18, Volume=2510526)

In [42]:
lt770[0][0]

'4-Jan-17'

## Dates and timestamps

In [43]:
amzn.head()

Row(Date='30-Oct-17', Open=1095.01, High=1122.79, Low=1093.56, Close=1110.85, Volume=6613064)

## pyspark.sql.functions module

pyspark.sql.functions module 

[http://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html#module-pyspark.sql.functions](http://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html#module-pyspark.sql.functions)   

**pyspark.sql.functions.datediff(end, start)**  

Returns the number of days from start to end.

```python
>>> df = spark.createDataFrame([('2015-04-08','2015-05-10')], ['d1', 'd2'])
>>> df.select(datediff(df.d2, df.d1).alias('diff')).collect()
[Row(diff=32)]
```

**pyspark.sql.functions.dayofmonth(col)**  

Extract the day of the month of a given date as integer.

```python
>>> df = spark.createDataFrame([('2015-04-08',)], ['a'])
>>> df.select(dayofmonth('a').alias('day')).collect()
[Row(day=8)]
```

**pyspark.sql.functions.dayofyear(col)**  

Extract the day of the year of a given date as integer.

```python
>>> df = spark.createDataFrame([('2015-04-08',)], ['a'])
>>> df.select(dayofyear('a').alias('day')).collect()
[Row(day=98)]
```

**pyspark.sql.functions.hour(col)**  

Extract the hours of a given date as integer.

```python
>>> df = spark.createDataFrame([('2015-04-08 13:08:15',)], ['a'])
>>> df.select(hour('a').alias('hour')).collect()
[Row(hour=13)]
```


**pyspark.sql.functions.last_day(date)**  

Returns the last day of the month which the given date belongs to.

```python
>>> df = spark.createDataFrame([('1997-02-10',)], ['d'])
>>> df.select(last_day(df.d).alias('date')).collect()
[Row(date=datetime.date(1997, 2, 28))]
```


**pyspark.sql.functions.minute(col)**

Extract the minutes of a given date as integer.

```python
>>> df = spark.createDataFrame([('2015-04-08 13:08:15',)], ['a'])
>>> df.select(minute('a').alias('minute')).collect()
[Row(minute=8)]
```

**pyspark.sql.functions.month(col)**  

Extract the month of a given date as integer.

```python
>>> df = spark.createDataFrame([('2015-04-08',)], ['a'])
>>> df.select(month('a').alias('month')).collect()
[Row(month=4)]
```

**pyspark.sql.functions.months_between(date1, date2)**  

Returns the number of months between date1 and date2.

```python
>>> df = spark.createDataFrame([('1997-02-28 10:30:00', '1996-10-30')], ['t', 'd'])
>>> df.select(months_between(df.t, df.d).alias('months')).collect()
[Row(months=3.9495967...)]
```

**pyspark.sql.functions.next_day(date, dayOfWeek)** 

Returns the first date which is later than the value of the date column.

Day of the week parameter is case insensitive, and accepts:
“Mon”, “Tue”, “Wed”, “Thu”, “Fri”, “Sat”, “Sun”.

```python
>>> df = spark.createDataFrame([('2015-07-27',)], ['d'])
>>> df.select(next_day(df.d, 'Sun').alias('date')).collect()
[Row(date=datetime.date(2015, 8, 2))]
```

**pyspark.sql.functions.second(col)**  

Extract the seconds of a given date as integer.

```python
>>> df = spark.createDataFrame([('2015-04-08 13:08:15',)], ['a'])
>>> df.select(second('a').alias('second')).collect()
[Row(second=15)]
```

**pyspark.sql.functions.to_utc_timestamp(timestamp, tz)**  

Given a timestamp, which corresponds to a certain time of day in the given timezone, returns another timestamp that corresponds to the same time of day in UTC.


```python
>>> df = spark.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
>>> df.select(to_utc_timestamp(df.t, "PST").alias('t')).collect()
[Row(t=datetime.datetime(1997, 2, 28, 18, 30))]
```

**pyspark.sql.functions.unix_timestamp(timestamp=None, format='yyyy-MM-dd HH:mm:ss')**  

Convert time string with given pattern (‘yyyy-MM-dd HH:mm:ss’, by default) to Unix time stamp (in seconds), using the default timezone and the default locale, return null if fail.

if timestamp is None, then it returns current timestamp.


**pyspark.sql.functions.weekofyear(col)**  

Extract the week number of a given date as integer.

```python
>>> df = spark.createDataFrame([('2015-04-08',)], ['a'])
>>> df.select(weekofyear(df.a).alias('week')).collect()
[Row(week=15)]
```

**pyspark.sql.functions.year(col)**  

Extract the year of a given date as integer.

```python
>>> df = spark.createDataFrame([('2015-04-08',)], ['a'])
>>> df.select(year('a').alias('year')).collect()
[Row(year=2015)]
```

In [44]:
import pyspark.sql.functions as pf

In [45]:
amzn.select(amzn['Date']).show()

+---------+
|     Date|
+---------+
|30-Oct-17|
|27-Oct-17|
|26-Oct-17|
|25-Oct-17|
|24-Oct-17|
|23-Oct-17|
|20-Oct-17|
|19-Oct-17|
|18-Oct-17|
|17-Oct-17|
|16-Oct-17|
|13-Oct-17|
|12-Oct-17|
|11-Oct-17|
|10-Oct-17|
| 9-Oct-17|
| 6-Oct-17|
| 5-Oct-17|
| 4-Oct-17|
| 3-Oct-17|
+---------+
only showing top 20 rows

__all__ = [
    "DataType", "NullType", "StringType", "BinaryType", "BooleanType", "DateType",
    "TimestampType", "DecimalType", "DoubleType", "FloatType", "ByteType", "IntegerType",
    "LongType", "ShortType", "ArrayType", "MapType", "StructField", "StructType"]

In [46]:
from pyspark.sql.types import DateType, TimestampType
amzn = amzn.withColumn('dateTime', amzn['Date'].cast(DateType()))

In [47]:
amzn.head()

Row(Date='30-Oct-17', Open=1095.01, High=1122.79, Low=1093.56, Close=1110.85, Volume=6613064, dateTime=None)

## GroupBy

### Rossmann Store Sales

Forecast sales using store, promotion, and competitor data

From [https://www.kaggle.com/c/rossmann-store-sales](https://www.kaggle.com/c/rossmann-store-sales)

In [48]:
# spark is an existing SparkSession
rossmann = spark.read.csv("data/Rossmann.csv", header=True, inferSchema=True)
# Displays the content of the DataFrame to stdout
rossmann.show()

+-----+---------+-------+-----+---------+
|Store|DayOfWeek|   Date|Sales|Customers|
+-----+---------+-------+-----+---------+
|    1|        5|7/31/15| 5263|      555|
|    2|        5|7/31/15| 6064|      625|
|    3|        5|7/31/15| 8314|      821|
|    4|        5|7/31/15|13995|     1498|
|    5|        5|7/31/15| 4822|      559|
|    6|        5|7/31/15| 5651|      589|
|    7|        5|7/31/15|15344|     1414|
|    8|        5|7/31/15| 8492|      833|
|    9|        5|7/31/15| 8565|      687|
|   10|        5|7/31/15| 7185|      681|
|   11|        5|7/31/15|10457|     1236|
|   12|        5|7/31/15| 8959|      962|
|   13|        5|7/31/15| 8821|      568|
|   14|        5|7/31/15| 6544|      710|
|   15|        5|7/31/15| 9191|      766|
|   16|        5|7/31/15|10231|      979|
|   17|        5|7/31/15| 8430|      946|
|   18|        5|7/31/15|10071|      936|
|   19|        5|7/31/15| 8234|      718|
|   20|        5|7/31/15| 9593|      974|
+-----+---------+-------+-----+---------+
only showing top 20 rows

In [49]:
rossmann.printSchema()

root
 |-- Store: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Sales: integer (nullable = true)
 |-- Customers: integer (nullable = true)

In [50]:
from pyspark.sql.types import DateType, TimestampType
rossmann = rossmann.withColumn('dateTime', rossmann['Date'].cast(DateType()))

In [51]:
rossmann.printSchema()

root
 |-- Store: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Sales: integer (nullable = true)
 |-- Customers: integer (nullable = true)
 |-- dateTime: date (nullable = true)

In [52]:
rossmann.head()

Row(Store=1, DayOfWeek=5, Date='7/31/15', Sales=5263, Customers=555, dateTime=None)

In [53]:
rossmann.show()

+-----+---------+-------+-----+---------+--------+
|Store|DayOfWeek|   Date|Sales|Customers|dateTime|
+-----+---------+-------+-----+---------+--------+
|    1|        5|7/31/15| 5263|      555|    null|
|    2|        5|7/31/15| 6064|      625|    null|
|    3|        5|7/31/15| 8314|      821|    null|
|    4|        5|7/31/15|13995|     1498|    null|
|    5|        5|7/31/15| 4822|      559|    null|
|    6|        5|7/31/15| 5651|      589|    null|
|    7|        5|7/31/15|15344|     1414|    null|
|    8|        5|7/31/15| 8492|      833|    null|
|    9|        5|7/31/15| 8565|      687|    null|
|   10|        5|7/31/15| 7185|      681|    null|
|   11|        5|7/31/15|10457|     1236|    null|
|   12|        5|7/31/15| 8959|      962|    null|
|   13|        5|7/31/15| 8821|      568|    null|
|   14|        5|7/31/15| 6544|      710|    null|
|   15|        5|7/31/15| 9191|      766|    null|
|   16|        5|7/31/15|10231|      979|    null|
|   17|        5|7/31/15| 8430|      946|    null|
|   18|        5|7/31/15|10071|      936|    null|
|   19|        5|7/31/15| 8234|      718|    null|
|   20|        5|7/31/15| 9593|      974|    null|
+-----+---------+-------+-----+---------+--------+
only showing top 20 rows

In [54]:
rossmann_bydate=rossmann.select(['Date','Sales','Customers']).groupBy('Date')
rossmann_bydate

In [55]:
rossmann.select(['Date','Sales','Customers']).groupBy('Date').mean().show()

+--------+------------------+-----------------+
|    Date|        avg(Sales)|   avg(Customers)|
+--------+------------------+-----------------+
|  3/8/15| 180.5748878923767|33.70403587443946|
|  2/7/14| 7242.437668161435|774.3479820627803|
|  7/6/13|  5315.72735426009|619.7399103139013|
|  4/4/13|5826.1094170403585|708.1076233183857|
|12/26/14|219.50588235294117|34.41711229946524|
|11/27/14| 8414.449197860962| 859.648128342246|
| 11/5/14| 8013.904812834225|831.5572192513368|
|10/14/14|  5576.19679144385|            701.8|
| 8/21/14| 7076.151871657754|789.5989304812834|
| 8/20/14|7511.0139037433155|811.4791443850268|
| 6/23/14| 5923.737219730941|719.3085201793722|
| 4/11/14| 6197.534529147982|730.0089686098655|
| 3/25/15| 5447.339910313902|644.2959641255605|
| 2/28/15| 6656.273542600897|703.6636771300448|
|12/10/13| 6689.007174887893|768.9659192825112|
|10/29/13| 5511.700448430493| 672.857399103139|
| 6/18/13| 7264.830493273543|783.3372197309417|
|  4/9/15| 5883.834080717489|698.0358744394618|
| 3/22/15|211.52645739910315|36.16143497757847|
| 7/15/14| 8219.244919786097|843.6021390374332|
+--------+------------------+-----------------+
only showing top 20 rows

In [56]:
rossmann_bydate.sum().show()

+--------+----------+--------------+
|    Date|sum(Sales)|sum(Customers)|
+--------+----------+--------------+
|  3/8/15|    201341|         37580|
|  2/7/14|   8075318|        863398|
|  7/6/13|   5927036|        691010|
|  4/4/13|   6496112|        789540|
|12/26/14|    205238|         32180|
|11/27/14|   7867510|        803771|
| 11/5/14|   7493001|        777506|
|10/14/14|   5213744|        656183|
| 8/21/14|   6616202|        738275|
| 8/20/14|   7022798|        758733|
| 6/23/14|   6604967|        802029|
| 4/11/14|   6910251|        813960|
| 3/25/15|   6073784|        718390|
| 2/28/15|   7421745|        784585|
|12/10/13|   7458243|        857397|
|10/29/13|   6145546|        750236|
| 6/18/13|   8100286|        873421|
|  4/9/15|   6560475|        778310|
| 3/22/15|    235852|         40320|
| 7/15/14|   7684994|        788768|
+--------+----------+--------------+
only showing top 20 rows

In [57]:
rossmann_bystore=rossmann.select(['Store','Sales','Customers']).groupBy('Store')
rossmann_bystore

In [58]:
rossmann_bystore.sum().show()

+-----+----------+----------+--------------+
|Store|sum(Store)|sum(Sales)|sum(Customers)|
+-----+----------+----------+--------------+
|  148|    139416|   6772949|        642470|
|  463|    436146|   4747749|        755184|
|  471|    357018|   4422266|        367107|
|  496|    467232|   6059458|        650918|
|  833|    784686|   4293342|        394316|
| 1088|   1024896|   3960984|        377930|
|  243|    184194|   4407146|        594010|
|  392|    369264|   5670675|        559386|
|  540|    409320|   3513672|        243396|
|  623|    586866|   5473895|        639137|
|  737|    694254|   4765845|        699863|
|  858|    650364|   2957986|        260058|
|  897|    844974|   2717511|        268885|
| 1025|    965550|   5762189|        672559|
| 1084|   1021128|   4904211|        631824|
|   31|     29202|   4596143|        459464|
|  516|    486072|   4579807|        592467|
|   85|     80070|   6850652|        956508|
|  137|    103846|   5147039|        595429|
|  251|    236442|  14896870|       1908934|
+-----+----------+----------+--------------+
only showing top 20 rows

## Aggregate Functions

pyspark.sql.functions module 

[http://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html#module-pyspark.sql.functions](http://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html#module-pyspark.sql.functions)  

**pyspark.sql.functions.approx_count_distinct(col, rsd=None)**  

Returns a new Column for approximate distinct count of col.

```python
>>> df.agg(approx_count_distinct(df.age).alias('c')).collect()
[Row(c=2)]
```


**pyspark.sql.functions.avg(col)**  

Aggregate function: returns the average of the values in a group.

**pyspark.sql.functions.collect_list(col)**

Aggregate function: returns a list of objects with duplicates.

**pyspark.sql.functions.collect_set(col)**  

Aggregate function: returns a set of objects with duplicate elements eliminated.

**pyspark.sql.functions.count(col)**  

Aggregate function: returns the number of items in a group.


**pyspark.sql.functions.countDistinct(col, *cols)**  

Returns a new Column for distinct count of col or cols.

```python
>>> df.agg(countDistinct(df.age, df.name).alias('c')).collect()
[Row(c=2)]
>>> df.agg(countDistinct("age", "name").alias('c')).collect()
```

**pyspark.sql.functions.first(col, ignorenulls=False)**  

Aggregate function: returns the first value in a group.

The function by default returns the first values it sees. It will return the first non-null value it sees when ignoreNulls is set to true. If all values are null, then null is returned.


**pyspark.sql.functions.grouping(col)**  

Aggregate function: indicates whether a specified column in a GROUP BY list is aggregated or not, returns 1 for aggregated or 0 for not aggregated in the result set.

```python
>>> df.cube("name").agg(grouping("name"), sum("age")).orderBy("name").show()
+-----+--------------+--------+
| name|grouping(name)|sum(age)|
+-----+--------------+--------+
| null|             1|       7|
|Alice|             0|       2|
|  Bob|             0|       5|
+-----+--------------+--------+
```

**pyspark.sql.functions.kurtosis(col)**  

Aggregate function: returns the kurtosis of the values in a group.


**pyspark.sql.functions.last(col, ignorenulls=False)**  

Aggregate function: returns the last value in a group.

The function by default returns the last values it sees. It will return the last non-null value it sees when ignoreNulls is set to true. If all values are null, then null is returned.

**pyspark.sql.functions.max(col)**  

Aggregate function: returns the maximum value of the expression in a group.

**pyspark.sql.functions.mean(col)**  

Aggregate function: returns the average of the values in a group.

**pyspark.sql.functions.min(col)**  

Aggregate function: returns the minimum value of the expression in a group.

**pyspark.sql.functions.skewness(col)**  

Aggregate function: returns the skewness of the values in a group.

**pyspark.sql.functions.stddev(col)**  

Aggregate function: returns the unbiased sample standard deviation of the expression in a group.

**pyspark.sql.functions.stddev_pop(col)**  

Aggregate function: returns population standard deviation of the expression in a group.

**pyspark.sql.functions.stddev_samp(col)**  

Aggregate function: returns the unbiased sample standard deviation of the expression in a group.

**pyspark.sql.functions.sum(col)**  

Aggregate function: returns the sum of all values in the expression.

**pyspark.sql.functions.sumDistinct(col)**  

Aggregate function: returns the sum of distinct values in the expression.


**pyspark.sql.functions.var_pop(col)**   

Aggregate function: returns the population variance of the values in a group.


**pyspark.sql.functions.var_samp(col)**   

Aggregate function: returns the unbiased variance of the values in a group.

**pyspark.sql.functions.variance(col)**  

Aggregate function: returns the population variance of the values in a group.

In [59]:
rossmann.select(pf.avg('Sales')).show()

+-----------------+
|       avg(Sales)|
+-----------------+
|5773.818972305593|
+-----------------+

In [60]:
rossmann.select(pf.avg('Sales').alias('av_sales')).show()

+-----------------+
|         av_sales|
+-----------------+
|5773.818972305593|
+-----------------+

In [61]:
rossmann.select(pf.stddev('Sales')).show()

+------------------+
|stddev_samp(Sales)|
+------------------+
| 3849.926175234763|
+------------------+

In [62]:
stddev_sales=rossmann.select(pf.stddev('Sales'))
stddev_sales.select(pf.format_number('stddev_samp(Sales)',2)).show()

+------------------------------------+
|format_number(stddev_samp(Sales), 2)|
+------------------------------------+
|                            3,849.93|
+------------------------------------+

In [63]:
rossmann.select(pf.countDistinct('Store')).show()

+---------------------+
|count(DISTINCT Store)|
+---------------------+
|                 1115|
+---------------------+

## Sorting

In [64]:
rossmann.orderBy('Sales').show()

+-----+---------+-------+-----+---------+--------+
|Store|DayOfWeek|   Date|Sales|Customers|dateTime|
+-----+---------+-------+-----+---------+--------+
|    7|        7|4/14/13|    0|        0|    null|
|    6|        7|4/14/13|    0|        0|    null|
|  589|        1|4/15/13|    0|        0|    null|
| 1081|        3|4/17/13|    0|        0|    null|
|  708|        1|4/15/13|    0|        0|    null|
|  103|        2|4/16/13|    0|        0|    null|
|  948|        1|4/15/13|    0|        0|    null|
|  105|        1|4/15/13|    0|        0|    null|
| 1081|        1|4/15/13|    0|        0|    null|
|  708|        2|4/16/13|    0|        0|    null|
|    1|        7|4/14/13|    0|        0|    null|
| 1081|        2|4/16/13|    0|        0|    null|
|    2|        7|4/14/13|    0|        0|    null|
|  948|        3|4/17/13|    0|        0|    null|
|    3|        7|4/14/13|    0|        0|    null|
|  105|        2|4/16/13|    0|        0|    null|
|    4|        7|4/14/13|    0|        0|    null|
|  948|        2|4/16/13|    0|        0|    null|
|    5|        7|4/14/13|    0|        0|    null|
|  103|        1|4/15/13|    0|        0|    null|
+-----+---------+-------+-----+---------+--------+
only showing top 20 rows

In [65]:
rossmann.orderBy('Sales','Customers').show()

+-----+---------+-------+-----+---------+--------+
|Store|DayOfWeek|   Date|Sales|Customers|dateTime|
+-----+---------+-------+-----+---------+--------+
|    7|        7|4/14/13|    0|        0|    null|
|    6|        7|4/14/13|    0|        0|    null|
|  589|        1|4/15/13|    0|        0|    null|
| 1081|        3|4/17/13|    0|        0|    null|
|  708|        1|4/15/13|    0|        0|    null|
|  103|        2|4/16/13|    0|        0|    null|
|  948|        1|4/15/13|    0|        0|    null|
|  105|        1|4/15/13|    0|        0|    null|
| 1081|        1|4/15/13|    0|        0|    null|
|  708|        2|4/16/13|    0|        0|    null|
|    1|        7|4/14/13|    0|        0|    null|
| 1081|        2|4/16/13|    0|        0|    null|
|    2|        7|4/14/13|    0|        0|    null|
|  948|        3|4/17/13|    0|        0|    null|
|    3|        7|4/14/13|    0|        0|    null|
|  105|        2|4/16/13|    0|        0|    null|
|    4|        7|4/14/13|    0|        0|    null|
|  948|        2|4/16/13|    0|        0|    null|
|    5|        7|4/14/13|    0|        0|    null|
|  103|        1|4/15/13|    0|        0|    null|
+-----+---------+-------+-----+---------+--------+
only showing top 20 rows

In [66]:
rossmann.orderBy(rossmann.Sales.desc()).show()

+-----+---------+--------+-----+---------+--------+
|Store|DayOfWeek|    Date|Sales|Customers|dateTime|
+-----+---------+--------+-----+---------+--------+
|  909|        1| 6/22/15|41551|     1721|    null|
|  262|        5|  4/3/15|38722|     5132|    null|
|  262|        5|  5/1/15|38484|     5458|    null|
|  262|        4| 5/14/15|38367|     5192|    null|
|   57|        1| 6/16/14|38037|     1970|    null|
|  817|        1|12/16/13|38025|     4381|    null|
|  261|        1|12/16/13|37646|     1964|    null|
|  262|        4| 5/29/14|37403|     5297|    null|
|  262|        7|12/22/13|37376|     4916|    null|
|  262|        7|12/21/14|37122|     4962|    null|
|  262|        7|11/30/14|36417|     4816|    null|
|  262|        5| 3/29/13|36227|     5069|    null|
|  262|        5| 4/18/14|35909|     5063|    null|
|  262|        5| 10/3/14|35702|     5494|    null|
| 1114|        1|12/23/13|35697|     4911|    null|
|  251|        1|12/23/13|35350|     4635|    null|
|  262|        1| 5/25/15|35159|     4989|    null|
|  842|        1|12/16/13|35154|     1796|    null|
|  262|        7| 12/1/13|34904|     4894|    null|
|  262|        4|  5/1/14|34814|     4931|    null|
+-----+---------+--------+-----+---------+--------+
only showing top 20 rows

In [67]:
rossmann.orderBy(rossmann['Sales'].desc()).show()

+-----+---------+--------+-----+---------+--------+
|Store|DayOfWeek|    Date|Sales|Customers|dateTime|
+-----+---------+--------+-----+---------+--------+
|  909|        1| 6/22/15|41551|     1721|    null|
|  262|        5|  4/3/15|38722|     5132|    null|
|  262|        5|  5/1/15|38484|     5458|    null|
|  262|        4| 5/14/15|38367|     5192|    null|
|   57|        1| 6/16/14|38037|     1970|    null|
|  817|        1|12/16/13|38025|     4381|    null|
|  261|        1|12/16/13|37646|     1964|    null|
|  262|        4| 5/29/14|37403|     5297|    null|
|  262|        7|12/22/13|37376|     4916|    null|
|  262|        7|12/21/14|37122|     4962|    null|
|  262|        7|11/30/14|36417|     4816|    null|
|  262|        5| 3/29/13|36227|     5069|    null|
|  262|        5| 4/18/14|35909|     5063|    null|
|  262|        5| 10/3/14|35702|     5494|    null|
| 1114|        1|12/23/13|35697|     4911|    null|
|  251|        1|12/23/13|35350|     4635|    null|
|  262|        1| 5/25/15|35159|     4989|    null|
|  842|        1|12/16/13|35154|     1796|    null|
|  262|        7| 12/1/13|34904|     4894|    null|
|  262|        4|  5/1/14|34814|     4931|    null|
+-----+---------+--------+-----+---------+--------+
only showing top 20 rows

In [68]:
rossmann.orderBy(rossmann.Sales.desc(),rossmann.Customers).show()

+-----+---------+--------+-----+---------+--------+
|Store|DayOfWeek|    Date|Sales|Customers|dateTime|
+-----+---------+--------+-----+---------+--------+
|  909|        1| 6/22/15|41551|     1721|    null|
|  262|        5|  4/3/15|38722|     5132|    null|
|  262|        5|  5/1/15|38484|     5458|    null|
|  262|        4| 5/14/15|38367|     5192|    null|
|   57|        1| 6/16/14|38037|     1970|    null|
|  817|        1|12/16/13|38025|     4381|    null|
|  261|        1|12/16/13|37646|     1964|    null|
|  262|        4| 5/29/14|37403|     5297|    null|
|  262|        7|12/22/13|37376|     4916|    null|
|  262|        7|12/21/14|37122|     4962|    null|
|  262|        7|11/30/14|36417|     4816|    null|
|  262|        5| 3/29/13|36227|     5069|    null|
|  262|        5| 4/18/14|35909|     5063|    null|
|  262|        5| 10/3/14|35702|     5494|    null|
| 1114|        1|12/23/13|35697|     4911|    null|
|  251|        1|12/23/13|35350|     4635|    null|
|  262|        1| 5/25/15|35159|     4989|    null|
|  842|        1|12/16/13|35154|     1796|    null|
|  262|        7| 12/1/13|34904|     4894|    null|
|  262|        4|  5/1/14|34814|     4931|    null|
+-----+---------+--------+-----+---------+--------+
only showing top 20 rows

In [69]:
rossmann.orderBy(rossmann.Sales.desc(),rossmann.Customers.desc()).show()

+-----+---------+--------+-----+---------+--------+
|Store|DayOfWeek|    Date|Sales|Customers|dateTime|
+-----+---------+--------+-----+---------+--------+
|  909|        1| 6/22/15|41551|     1721|    null|
|  262|        5|  4/3/15|38722|     5132|    null|
|  262|        5|  5/1/15|38484|     5458|    null|
|  262|        4| 5/14/15|38367|     5192|    null|
|   57|        1| 6/16/14|38037|     1970|    null|
|  817|        1|12/16/13|38025|     4381|    null|
|  261|        1|12/16/13|37646|     1964|    null|
|  262|        4| 5/29/14|37403|     5297|    null|
|  262|        7|12/22/13|37376|     4916|    null|
|  262|        7|12/21/14|37122|     4962|    null|
|  262|        7|11/30/14|36417|     4816|    null|
|  262|        5| 3/29/13|36227|     5069|    null|
|  262|        5| 4/18/14|35909|     5063|    null|
|  262|        5| 10/3/14|35702|     5494|    null|
| 1114|        1|12/23/13|35697|     4911|    null|
|  251|        1|12/23/13|35350|     4635|    null|
|  262|        1| 5/25/15|35159|     4989|    null|
|  842|        1|12/16/13|35154|     1796|    null|
|  262|        7| 12/1/13|34904|     4894|    null|
|  262|        4|  5/1/14|34814|     4931|    null|
+-----+---------+--------+-----+---------+--------+
only showing top 20 rows

## Missing data

**Planet Express data**

Planet Express, Inc. is an intergalactic delivery company owned and operated by Professor Farnsworth to fund his research. Founded in 2961, its headquarters is located in New New York.   

![Planet Express logo](http://nikbearbrown.com/YouTube/MachineLearning/IMG/planet-express-logo.jpg)

In [70]:
# spark is an existing SparkSession
planet_express = spark.read.csv("data/planet-express.csv", header=True, inferSchema=True)
# Displays the content of the DataFrame to stdout
planet_express.show()

+-----------+------------------+------------+-------------+--------+----+
|CompanySize|        Profession|LastDelivery|NumDeliveries|Location|Year|
+-----------+------------------+------------+-------------+--------+----+
|          2|             Pilot|        3.61|         null|   Earth|3001|
|          2|              null|        3.67|            3|   Earth|null|
|          2|             Pilot|         4.0|            1|   Earth|3001|
|          2|             Pilot|        3.19|            4|   Earth|3001|
|          2|Pizza Delivery Boy|        2.93|            4|    null|null|
|       null|Pizza Delivery Boy|         3.0|            2|    null|null|
|          2|       MomCorp CEO|        2.98|            1|   Earth|3001|
|          2|             Robot|        3.08|            2|   Earth|3001|
|          2|       MomCorp CEO|        3.39|            3|   Earth|3001|
|          2|              null|        null|         null|    null|3001|
|          2|              null|        null|         null|    null|3001|
|          2|       MomCorp CEO|        3.22|            1|   Earth|3001|
|          2|Pizza Delivery Boy|         4.0|            1|   Earth|3001|
|          2|             Robot|        3.08|            2|   Earth|3001|
|          2|Pizza Delivery Boy|         4.0|            1|   Earth|3001|
|          2|Pizza Delivery Boy|        3.44|            3|   Earth|3001|
|       null|              null|        null|            4|   Earth|3001|
|       null|              null|        null|            3|   Earth|3001|
|          2| Internet Gangstas|        3.75|            2|   Earth|3001|
|          2| Internet Gangstas|        3.81|            1|   Earth|3001|
+-----------+------------------+------------+-------------+--------+----+
only showing top 20 rows

In [71]:
planet_express.printSchema()

root
 |-- CompanySize: integer (nullable = true)
 |-- Profession: string (nullable = true)
 |-- LastDelivery: double (nullable = true)
 |-- NumDeliveries: integer (nullable = true)
 |-- Location: string (nullable = true)
 |-- Year: integer (nullable = true)

In [72]:
planet_express.count()

176

In [73]:
planet_express.na.drop().count()

76

In [74]:
planet_express.count()

176

In [75]:
planet_express.na.drop(thresh=2).count()

155

In [76]:
planet_express.na.drop(subset=['NumDeliveries']).count()

124

In [77]:
planet_express.na.drop(subset=['Profession']).count()

146

In [78]:
planet_express.na.fill('New').show()

+-----------+------------------+------------+-------------+--------+----+
|CompanySize|        Profession|LastDelivery|NumDeliveries|Location|Year|
+-----------+------------------+------------+-------------+--------+----+
|          2|             Pilot|        3.61|         null|   Earth|3001|
|          2|               New|        3.67|            3|   Earth|null|
|          2|             Pilot|         4.0|            1|   Earth|3001|
|          2|             Pilot|        3.19|            4|   Earth|3001|
|          2|Pizza Delivery Boy|        2.93|            4|     New|null|
|       null|Pizza Delivery Boy|         3.0|            2|     New|null|
|          2|       MomCorp CEO|        2.98|            1|   Earth|3001|
|          2|             Robot|        3.08|            2|   Earth|3001|
|          2|       MomCorp CEO|        3.39|            3|   Earth|3001|
|          2|               New|        null|         null|     New|3001|
|          2|               New|        null|         null|     New|3001|
|          2|       MomCorp CEO|        3.22|            1|   Earth|3001|
|          2|Pizza Delivery Boy|         4.0|            1|   Earth|3001|
|          2|             Robot|        3.08|            2|   Earth|3001|
|          2|Pizza Delivery Boy|         4.0|            1|   Earth|3001|
|          2|Pizza Delivery Boy|        3.44|            3|   Earth|3001|
|       null|               New|        null|            4|   Earth|3001|
|       null|               New|        null|            3|   Earth|3001|
|          2| Internet Gangstas|        3.75|            2|   Earth|3001|
|          2| Internet Gangstas|        3.81|            1|   Earth|3001|
+-----------+------------------+------------+-------------+--------+----+
only showing top 20 rows

In [79]:
planet_express.na.fill(99).show()

+-----------+------------------+------------+-------------+--------+----+
|CompanySize|        Profession|LastDelivery|NumDeliveries|Location|Year|
+-----------+------------------+------------+-------------+--------+----+
|          2|             Pilot|        3.61|           99|   Earth|3001|
|          2|              null|        3.67|            3|   Earth|  99|
|          2|             Pilot|         4.0|            1|   Earth|3001|
|          2|             Pilot|        3.19|            4|   Earth|3001|
|          2|Pizza Delivery Boy|        2.93|            4|    null|  99|
|         99|Pizza Delivery Boy|         3.0|            2|    null|  99|
|          2|       MomCorp CEO|        2.98|            1|   Earth|3001|
|          2|             Robot|        3.08|            2|   Earth|3001|
|          2|       MomCorp CEO|        3.39|            3|   Earth|3001|
|          2|              null|        99.0|           99|    null|3001|
|          2|              null|        99.0|           99|    null|3001|
|          2|       MomCorp CEO|        3.22|            1|   Earth|3001|
|          2|Pizza Delivery Boy|         4.0|            1|   Earth|3001|
|          2|             Robot|        3.08|            2|   Earth|3001|
|          2|Pizza Delivery Boy|         4.0|            1|   Earth|3001|
|          2|Pizza Delivery Boy|        3.44|            3|   Earth|3001|
|         99|              null|        99.0|            4|   Earth|3001|
|         99|              null|        99.0|            3|   Earth|3001|
|          2| Internet Gangstas|        3.75|            2|   Earth|3001|
|          2| Internet Gangstas|        3.81|            1|   Earth|3001|
+-----------+------------------+------------+-------------+--------+----+
only showing top 20 rows

In [80]:
planet_express.na.fill('Twerker',subset=['Profession']).show()

+-----------+------------------+------------+-------------+--------+----+
|CompanySize|        Profession|LastDelivery|NumDeliveries|Location|Year|
+-----------+------------------+------------+-------------+--------+----+
|          2|             Pilot|        3.61|         null|   Earth|3001|
|          2|           Twerker|        3.67|            3|   Earth|null|
|          2|             Pilot|         4.0|            1|   Earth|3001|
|          2|             Pilot|        3.19|            4|   Earth|3001|
|          2|Pizza Delivery Boy|        2.93|            4|    null|null|
|       null|Pizza Delivery Boy|         3.0|            2|    null|null|
|          2|       MomCorp CEO|        2.98|            1|   Earth|3001|
|          2|             Robot|        3.08|            2|   Earth|3001|
|          2|       MomCorp CEO|        3.39|            3|   Earth|3001|
|          2|           Twerker|        null|         null|    null|3001|
|          2|           Twerker|        null|         null|    null|3001|
|          2|       MomCorp CEO|        3.22|            1|   Earth|3001|
|          2|Pizza Delivery Boy|         4.0|            1|   Earth|3001|
|          2|             Robot|        3.08|            2|   Earth|3001|
|          2|Pizza Delivery Boy|         4.0|            1|   Earth|3001|
|          2|Pizza Delivery Boy|        3.44|            3|   Earth|3001|
|       null|           Twerker|        null|            4|   Earth|3001|
|       null|           Twerker|        null|            3|   Earth|3001|
|          2| Internet Gangstas|        3.75|            2|   Earth|3001|
|          2| Internet Gangstas|        3.81|            1|   Earth|3001|
+-----------+------------------+------------+-------------+--------+----+
only showing top 20 rows

In [81]:
planet_express.na.fill('Earth',subset=['Location']).show()

+-----------+------------------+------------+-------------+--------+----+
|CompanySize|        Profession|LastDelivery|NumDeliveries|Location|Year|
+-----------+------------------+------------+-------------+--------+----+
|          2|             Pilot|        3.61|         null|   Earth|3001|
|          2|              null|        3.67|            3|   Earth|null|
|          2|             Pilot|         4.0|            1|   Earth|3001|
|          2|             Pilot|        3.19|            4|   Earth|3001|
|          2|Pizza Delivery Boy|        2.93|            4|   Earth|null|
|       null|Pizza Delivery Boy|         3.0|            2|   Earth|null|
|          2|       MomCorp CEO|        2.98|            1|   Earth|3001|
|          2|             Robot|        3.08|            2|   Earth|3001|
|          2|       MomCorp CEO|        3.39|            3|   Earth|3001|
|          2|              null|        null|         null|   Earth|3001|
|          2|              null|        null|         null|   Earth|3001|
|          2|       MomCorp CEO|        3.22|            1|   Earth|3001|
|          2|Pizza Delivery Boy|         4.0|            1|   Earth|3001|
|          2|             Robot|        3.08|            2|   Earth|3001|
|          2|Pizza Delivery Boy|         4.0|            1|   Earth|3001|
|          2|Pizza Delivery Boy|        3.44|            3|   Earth|3001|
|       null|              null|        null|            4|   Earth|3001|
|       null|              null|        null|            3|   Earth|3001|
|          2| Internet Gangstas|        3.75|            2|   Earth|3001|
|          2| Internet Gangstas|        3.81|            1|   Earth|3001|
+-----------+------------------+------------+-------------+--------+----+
only showing top 20 rows

In [82]:
m=planet_express.select(pf.mean(planet_express['LastDelivery'])).collect()
m

[Row(avg(LastDelivery)=3.3491452991453)]

In [83]:
fm=planet_express.select(pf.floor(pf.mean(planet_express['NumDeliveries']))).collect()
fm

[Row(FLOOR(avg(NumDeliveries))=2)]

In [84]:
planet_express.na.fill(m[0][0],subset=['LastDelivery']).show()

+-----------+------------------+---------------+-------------+--------+----+
|CompanySize|        Profession|   LastDelivery|NumDeliveries|Location|Year|
+-----------+------------------+---------------+-------------+--------+----+
|          2|             Pilot|           3.61|         null|   Earth|3001|
|          2|              null|           3.67|            3|   Earth|null|
|          2|             Pilot|            4.0|            1|   Earth|3001|
|          2|             Pilot|           3.19|            4|   Earth|3001|
|          2|Pizza Delivery Boy|           2.93|            4|    null|null|
|       null|Pizza Delivery Boy|            3.0|            2|    null|null|
|          2|       MomCorp CEO|           2.98|            1|   Earth|3001|
|          2|             Robot|           3.08|            2|   Earth|3001|
|          2|       MomCorp CEO|           3.39|            3|   Earth|3001|
|          2|              null|3.3491452991453|         null|    null|3001|
|          2|              null|3.3491452991453|         null|    null|3001|
|          2|       MomCorp CEO|           3.22|            1|   Earth|3001|
|          2|Pizza Delivery Boy|            4.0|            1|   Earth|3001|
|          2|             Robot|           3.08|            2|   Earth|3001|
|          2|Pizza Delivery Boy|            4.0|            1|   Earth|3001|
|          2|Pizza Delivery Boy|           3.44|            3|   Earth|3001|
|       null|              null|3.3491452991453|            4|   Earth|3001|
|       null|              null|3.3491452991453|            3|   Earth|3001|
|          2| Internet Gangstas|           3.75|            2|   Earth|3001|
|          2| Internet Gangstas|           3.81|            1|   Earth|3001|
+-----------+------------------+---------------+-------------+--------+----+
only showing top 20 rows

## Structuring Apache Spark 2.0: SQL, DataFrames, Datasets And Streaming

![Structuring Apache Spark 2.0](http://nikbearbrown.com/YouTube/MachineLearning/IMG/Structuring_Apache_Spark.png)

[https://www.youtube.com/watch?v=1a4pgYzeFwE](https://www.youtube.com/watch?v=1a4pgYzeFwE)

## Modern Spark DataFrame & Dataset  

![Structuring Apache Spark 2.0](http://nikbearbrown.com/YouTube/MachineLearning/IMG/Modern_Spark_DataFrame.png)

Modern Spark DataFrame & Dataset | Apache Spark 2.0 Tutorial [https://youtu.be/_1byVWTEK1s](https://youtu.be/_1byVWTEK1s)

## Spark DataFrames: Simple and Fast Analysis of Structured Data

![Spark DataFrames Simple and Fast Analysis of Structured Data](http://nikbearbrown.com/YouTube/MachineLearning/IMG/Spark_DataFrames_Simple_and_Fast.png)

Spark DataFrames: Simple and Fast Analysis of Structured Data - Michael ... [https://youtu.be/xWkJCUcD55w](https://youtu.be/xWkJCUcD55w)

## Performing Advanced Analytics on Relational Data with Spark SQL

![Performing Advanced Analytics on Relational Data with Spark SQL](http://nikbearbrown.com/YouTube/MachineLearning/IMG/Performing_Advanced_Analytics_with_Spark_SQL.png)

Performing Advanced Analytics on Relational Data with Spark SQL - Michael... [https://youtu.be/PBpQJz4hdQ8](https://youtu.be/PBpQJz4hdQ8)

Last update October 3, 2017 

The text is released under the [CC-BY-NC-ND license](https://creativecommons.org/licenses/by-nc-nd/3.0/us/legalcode), and code is released under the [MIT license](https://opensource.org/licenses/MIT).